In [ ]:
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
a= [1,2,3,4,5,6,7,8,9,10]
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
str1 = input("Please Enter your Own String : ")
str2 = ''

for i in str1:
    str2 = i + str2

print("\nThe Original String = ", str1)
print("The Reversed String = ", str2)

Please Enter your Own String : mom

The Original String =  mom
The Reversed String =  mom

In [ ]:
str1 = input("Enter your name ")
str2= str1[::-1]

if str1==str2:
    print("The string is palindrome")
else:
    print("The string is not palindrome")

Enter your name malayalam
The string is palindrome

In [ ]:
l1= [1,1,1,2,2,2,5,5,7,8,4,4]
l2 = []
for i in l1:
    if i not in l2:
      l2.append(i)
print(l2)

[1, 2, 5, 7, 8, 4]

In [ ]:
l1= [1,1,1,2,2,2,5,5,7,8,4,4]
l2=list(set(l1))
print(l2)

[1, 2, 4, 5, 7, 8]

In [ ]:
l1= [1,1,1,2,2,2,5,5,7,8,4,4]
print(l1[::2])

[1, 1, 2, 5, 7, 4]

In [ ]:
import random
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
random.shuffle(l1)
print(l1)

[13, 7, 11, 3, 2, 12, 4, 5, 14, 16, 9, 6, 1, 8, 10, 15]

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]
print(l1+l2)

[1, 2, 3, 3, 4, 5]

In [ ]:
l1 = [1,2,3,4]
print(l1)
l2 = l1.copy()
print(l2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = [1,2,3,4,5]
b = [4,5,6,7,8]
print(a)
print(b)
a.extend(b)
print(a)

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [ ]:
a = (1,2,3,4,5,"firststr",'type',7.7)
print(a)

(1, 2, 3, 4, 5, 'firststr', 'type', 7.7)

In [ ]:
a = (1,2,3,4,5,"firststr",'type',7.7)
print(a[5])

firststr