<a href="https://colab.research.google.com/github/ehtesham12100/AI-ML/blob/main/introduction_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
my_list = list(range(1, 11))
reversed_list = my_list[::-1]
print(reversed_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
str1=input("Enter the name")
str2=str1[::-1]
if str1==str2:
    print("palindrome")
else:
    print("not palindrome")

In [ ]:
l1=[1,1,1,1,2,2,2,3,3,3,4,4,4,5,5]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

In [ ]:
l1 = [1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5]
l2 = []

[l2.append(i) for i in l1 if i not in l2]

print(l2)

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=list(set(l1))
print(l2)

In [ ]:
#slicing
l1=[1,2,3,4,5,6,7,8,9,10]
print(l1[::2])

In [ ]:
#random
import random
l1=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(l1)
print(l1)

In [ ]:
import random
n=random.randint(1,10)
print(n)

In [ ]:
l1=[1,2,3]
l2=[4,5,6,]
l3=l1+l2
print(l3)

In [ ]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

In [ ]:
A=[1,3,5,7,9]
B=[2,4,6,8,10]
A.extend(B)
print(A)

In [ ]:
# creatin a tuple with integer
l1=(1,2,3,4,5)
print(l1)

(1, 'hello', 3.4)

In [ ]:
# accessing items of tuple
a=(1,2,3,4,5)
print(a)
print(a[2])

In [ ]:
#creating tuple with float.
b=(6,5,5,9,2,0)
print(b)

(6, 5, 5, 9, 2, 0)

In [ ]:
#creating tuple with string
c=("one","two","three")
print(c)

('one', 'two', 'three')

In [ ]:
#creating tuple multiple data type
mix=(1,"hello",3.4)
print(mix)

(1, 'hello', 3.4)

In [ ]:
#accessing item of tuple
a=(1,2,3,4,5,"hello")
print(a)
print(a[2])

(1, 2, 3, 4, 5, 'hello')
3

In [ ]:
#create a dictionary
a={
    "name":"ram",
    "age":20,
    "education":"BCA"}
print(a)

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
x=a.keys()
print(x)

In [ ]:
y=a.values()
print(y)

In [ ]:
dict={"name":"ram","age":20,"education":"BCA"}
print(dict)

In [ ]:
z=a.items

Dicitionary Method

In [ ]:
#example
set=-(1,2,3,4,5)
print(set1

In [ ]:
#3 duplictes not allowed
set={1,2,3,4,5,1,2,3,4,5}
print(set2)

In [ ]:
len(set)

In [ ]:
type(set)

type